<!DOCTYPE html>
<html>
<head>
    <title>Chat Uygulaması</title>
</head>
<body>
    <h1>Chat Uygulaması</h1>
    <input type="text" id="username" placeholder="Kullanıcı Adı">
    <input type="text" id="room" placeholder="Oda Adı">
    <button onclick="joinRoom()">Odaya Katıl</button>
    <button onclick="leaveRoom()">Odadan Ayrıl</button>
    <br>
    <textarea id="messages" rows="10" cols="50" readonly></textarea>
    <br>
    <input type="text" id="message" placeholder="Mesajınızı Girin">
    <button onclick="sendMessage()">Gönder</button>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
    <script>
        var socket = io.connect('http://' + document.domain + ':' + location.port);

        socket.on('message', function(data) {
            document.getElementById('messages').value += data + '\n';
        });

        function joinRoom() {
            var username = document.getElementById('username').value;
            var room = document.getElementById('room').value;
            socket.emit('join', {'username': username, 'room': room});
        }

        function leaveRoom() {
            var username = document.getElementById('username').value;
            var room = document.getElementById('room').value;
            socket.emit('leave', {'username': username, 'room': room});
        }

        function sendMessage() {
            var username = document.getElementById('username').value;
            var room = document.getElementById('room').value;
            var message = document.getElementById('message').value;
            socket.emit('message', {'username': username, 'message': message, 'room': room});
        }
    </script>
</body>
</html>
